.header {
  text-align: center;
  background: black;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.header	h1	{
  color: white;
  font-size: 50px;
}
.header p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.a-instagram { 
color: grey;
position: right;
padding: 5px;
 }

.a-facebook { 
color: grey;
position: absolute;
padding: 5px;
  }

.a-twitter { 
color: grey;
position: absolute;
padding: 5px;
   }

.navbar-custom { 
height: 65px;
background-color: white;
 } 

.body { 
  font-family: 'Raleway', sans-serif;
   } 

 .Logo-cinelia { 
height: 50px;
top: 12px;
  }

  .footer{ 
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
   }

.footer a {
  color: lightgrey;
  font-size: 15px;
}

.footer a:hover {
  color: white;
}

